
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color:#242426;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242426;
}
.inside-container {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
h3 {
    margin-bottom: 10px;
}
input {
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #242426;
}
button {
    margin-top: 20px;
    border-radius: 5px;
    padding: 16px 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #242426;
    color: #0ca678;
    font-size: 20px;
    border: none;
}
button:hover {
    background-color: #3c3c3f;
}
.inputRadio {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}
.inputRadio input[type="radio"]{
    appearance: none;
    padding: 5px;
    border: 5px solid #242426;
    border-radius: 50%;
    background-color: #0ca678;
    margin: 0;
}
.inputRadio input[type="radio"]:checked {
    background-color: #065a41;
}
span {
    display: inline;
}
.inside-Radio {
    display: flex;
    gap: 10px;
}
.check {
    font-weight: 500;
    color: #c92a2a;
    margin-bottom: 10px;
}
.checkbtnSubmit {
    margin-top: 10px;
    color: #c92a2a;
}